* {
  color: #fff;
}

body {
  background: url(../images/bg-desktop.svg) hsl(257, 40%, 49%);
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 2.5rem;
  margin-top: 2.5rem;
  margin-bottom: 0;
}

p {
  line-height: 1.7;
  margin-bottom: 1.875rem;
}

.container {
  display: grid;
  grid-template-columns: 0.2fr 0.2fr 0.2fr 0.4fr;
  grid-template-rows: 0.1fr 0.5fr 0.1fr;
  grid-template-areas:
    "header header header header"
    "left left left right"
    "footer footer footer footer"
    ;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
}

.header {
  grid-area: header;
  padding-left: 4.375rem;
  padding-bottom: 3.125rem
}

.logo {
  width: 12.5rem;
}

.left {
  grid-area: left;
  padding-left: 4.375rem;
}

.mockups {
  width: 90%;
}

.right {
  grid-area: right;
  padding-right: 4.375rem;
}

.footer {
  grid-area: footer;
  text-align: right;
  font-size: 2rem;
  padding-right: 4.375rem;
}

.fab {
  padding: 0 0.313rem;
}

.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 2rem;
  -webkit-box-shadow: 0 0.188rem 0.625rem #666666;
  -moz-box-shadow: 0 0.188rem 0.625rem #666666;
  box-shadow: 0 0.188rem 0.625rem #666666;
  font-family: 'Open Sans', sans-serif;
  color: hsl(257, 40%, 49%);
  font-size: 1.1rem;
  background: white;
  padding: 0.68rem 3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 4rem;
}

.btn:hover {
  background: hsl(300, 69%, 71%);
  color: white;
  text-decoration: none;
}

.fab:hover {
  color: hsl(300, 69%, 71%);
}

@media (max-width: 880px) {
  body {
    background: url(../images/bg-mobile.svg) hsl(257, 40%, 49%);
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 3rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.15fr 0.35fr 0.35fr 0.15fr;
    grid-template-areas:
      "header"
      "left"
      "right"
      "footer"
      ;
  }

  .header {
    text-align: left;
    padding-left: 3.125rem;
  }

  .logo {
    width: 40%;
  }

  .mockups {
    width: 75%;
  }

  .left {
    padding-left: 0;
  }

  .right {
    padding: 0 3rem;
  }

  .btn {
    font-size: 0.9rem;
    width: 7rem;
    margin-bottom: 3rem;
  }

  .footer {
    text-align: center;
    padding-right: 0;
    margin-bottom: 3rem;
  }
}
